:root {
  --white: #eff0f3;
  --black: #393939;
  --primary: #ff8906;
  --grey: #535353;
  --bg: #1f1f1f;
  --gradient: linear-gradient(0deg, #536976 0%, #292e49 100%);
  --subtitle2: 600 0.75rem / normal 'Nunito', sans-serif;;
  --headline-headline1: extrabold 1.5rem / normal 'Nunito', sans-serif;;
  --headline-headline2: 700 1.125rem / normal 'Nunito', sans-serif;;
  --subtitle-subtitle1: 600 1.125rem / normal 'Nunito', sans-serif;;
  --body1-regular: 400 1rem/1.5rem 'Nunito', sans-serif;;
  --body1-bold: 700 1rem/1.5rem 'Nunito', sans-serif;;
  --body2-regular: 400 0.75rem / normal 'Nunito', sans-serif;;
  --body2-bold: 700 0.75rem / normal 'Nunito', sans-serif;;
  --button-button: 600 0.875rem/1rem 'Nunito', sans-serif;;
  --caption-caption: 400 0.6875rem / normal 'Nunito', sans-serif;;
}

body {
  background-color: var(--white);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
